{% extends "base.html" %}

{% block title %} contact {% endblock %}

{% block content %}

<style>
    /* Style de base (desktop) - déjà en place */

    .movies .contenaire {
        width: 100%;
        position: relative;
        min-height: 100vh;
        padding-bottom: 2rem;
    }

    .movies .contenaire>div {
        background-color: rgb(0, 0, 0);
        width: 85%;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        overflow: hidden;
        /* évite les barres de scroll horizontales */
        margin-left: auto;
        margin-right: auto;
        padding: 2%;
    }


    .movies .contenaire h1,
    .movies .contenaire h3 {
        color: white;
    }

    .formulaire input,
    .formulaire textarea {
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        border: none;
    }

    .formulaire button {
        padding: 10px 20px;
        border-radius: 10px;
        border: none;
        background-color: crimson;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }

    .page a {
        margin-right: 10px;
        font-size: 1.5rem;
    }

    @media screen and (max-width: 768px) {
        .movies .contenaire>div {
            flex-direction: column;
            align-items: center;
            height: auto;
        }

        .movies .contenaire>div>div,
        .movies .contenaire form {
            width: 90%;
            margin-bottom: 2rem;
        }
    }


    @media screen and (max-width: 480px) {

        .formulaire input,
        .formulaire textarea,
        .formulaire button {
            font-size: 1rem;
        }

        .page a {
            font-size: 1.2rem;
        }
    }
</style>



<div class="movies">


    <div class="contenaire">

        <div>

            <div style="height: 100%;color: white;width: 30%;">
                <h1>EMPLACEMENT</h1><br>
                <h3>CANALOlympia Bessengue gare voyageurs bessengue, Douala</h5><br><br><br><br><br>

                    <div>
                        <h1>SUIVEZ NOUS</h1><br>
                        <div class="page">
                            <a href="" style="color: rgb(0, 105, 196);"><i class="fab fa-facebook"></i></a>
                            <a href="" style="color: rgb(255, 145, 0);"> <i class="fab fa-instagram"></i></a>
                            <a href="" style="color: rgb(0, 157, 255);"><i class="fab fa-twitter"></i></a>

                        </div>
                    </div>
            </div>

            <form action="" method="POST">

                {% csrf_token %}

                <div class="formulaire" style="height: 100%;color: white;">

                    <h1>FORMULAIRE DE CONTACT</h1><br>
                    <input type="text" placeholder="     Entrer votre Nom" name="nom"><br><br>
                    <input type="email" placeholder="     Entrer votre adresse Mail" name="email"><br><br>
                    <textarea name="message" id="" placeholder="  Entrer votre Message"></textarea><br><br>

                    <button type="submit">SOUMETTRE</button>
                </div>

            </form>


        </div>


    </div>
</div>

{% endblock %}