{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'jquery-3.7.0.min.js' %}">
    <title>Connexion</title>
    <style>
        body {
            background-image: url("{% static 'Media/image/spider.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
        }

        div .face{
            border: 2px solid red;
            color: red;
            height: 55%;
            width: 45%;
            cursor: pointer;
            border-radius: 25px 25px;
        }

        div .insta{
            border: 2px solid red;
            color: red;
            height: 55%;
            width: 45%;
            margin-left: 10%;
            cursor: pointer;
            border-radius: 25px 25px;
        }

        div .face:hover, div .insta:hover{
            color: white;
            background: red;
        }
    </style>
</head>

<body>
    {% include "navebare1.html" %}
    <br><br><br><br><br><br>
    <div class="containe"
        style="display: flex;justify-content: space-between;position: fixed;width: 95%;height: 75%;margin-left: 3%;overflow: auto;word-wrap: break-word;">


        <div class="div2" style="width: 35%;height: 100%;">
            <div class="text" style="margin-top: 5%;margin-left: 10%;">
                <h1>S'inscrire à Cine.Nice</h1>
            </div>


            <div class="info" style="margin-top: 10%;width: 85%;margin-left: 15%;height: 60%;">
                <input type="text"
                    style="width: 80%;height: 15%;border-radius: 25px 25px 25px 25px;font-size: 100%;text-align: center;"
                    placeholder="Indiquez votre nom"><br>
                <input type="text"
                    style="width: 80%;height: 15%;margin-top: 5%;border-radius: 25px 25px 25px 25px;font-size: 100%;text-align: center;"
                    placeholder="Indiquez votre Email"><br>
                <input type="text"
                    style="width: 80%;height: 15%;margin-top: 5%;border-radius: 25px 25px 25px 25px;font-size: 100%;text-align: center;"
                    placeholder="Indiquez votre mote de passe"><br>
                <input type="text"
                    style="width: 80%;height: 15%;margin-top: 5%;border-radius: 25px 25px 25px 25px;font-size: 100%;text-align: center;"
                    placeholder="Confirmez votre mot de passe"><br><br>


                <button type="submit"
                    style="width: 80%;height: 15%;border-radius: 25px 25px 25px 25px;margin-top: 5%;font-size: 100%;"
                    >Sauvegarde</button>

            </div>
        </div>


        <div class="div1" style="width: 35%;height: 100%;">
            <div class="label" style="margin-top: 15%;">
                <h1>Lorem, ipsum dolor</h1><br>
                <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A cupiditate, recusandae ipsam
                    consequuntur nihil sit quos</h2><br><br>
                <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque unde beatae facere porro,
                    voluptates amet quod accusantium vel, molestias commodi quas</h4>

            </div>
            <div
                style="display: flex;justify-content: space-between;margin-top: 10%;width: 60%;margin-left: 15%;height: 15%;position: relative;">



                <div class="face">

                    <div style="display: flex;justify-content: space-between;width: 85%;margin-left: 5%;background-color: transparent !important;">
                        <div style="margin-top: 5%;background-color: transparent !important;">
                            <img src="{% static 'media/image/face.png' %}" alt=""
                                style="width: 30px;height: 30px;background-color: transparent !important;">
                        </div>
                        <div style="margin-top: 10%;cursor: pointer;">
                            <label for="" style="cursor: pointer;">Facebook</label>
                        </div>
                    </div>

                </div>



                <div class="insta">

                    <div style="display: flex;justify-content: space-between;width: 85%;margin-left: 5%;">
                        <div style="margin-top: 5%;">
                            <img src="{% static 'media/image/insta.png' %}" alt=""
                                style="  position:absolute;width: 35px;height: 30px;">
                        </div>
                        <div style="margin-top: 10%;cursor: pointer;">
                            <label for="" style="cursor: pointer;">Instagram</label>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <script>

        // $(".face").click(function () {
        //     $(".profil").toggle({
        //         'display': "block",
        //     });
        // })

    </script>
</body>

</html>